@charset "utf-8";

@font-face {
    font-family: Champagne;
        src: url('cac_champagne.woff') format('woff'),
            url('cac_champagne.ttf') format('truetype')
}

@font-face {
    font-family: Dobkin;
        src: url('DobkinPlain.woff') format('woff'),
            url('DobkinPlain.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/

html{
    background-color: hsla(0, 90% , 10%, .3)
}


body > section > h1 {
    font-family: 'Champagne', sans-serif;
    font-size: 10px;
}

section#rightcol h2 {
    font-family: 'Dobkin', sans-serif;
}